.container
  position: relative
  box-sizing: border-box
  width: 100%
  height: 35px
  background-color: #eeeeee
  border-radius: 5px

.progress
  display: flex
  align-items: center
  height: 100%
  background-color: #d1e9cf
  max-width: 100%
  border-radius: inherit
  span
    padding-left: 10px

.timeLeft
  position: absolute
  right: 9px
  top: 9px
