.buttonsContainer
  margin: 5px 0
  padding-top: 15px
  align-self: stretch
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between

.buttons
  font: inherit
  padding: 10px
  border: none
  border-radius: 8px
  color: #f9fafb

.decline
  background-color: #CD5C5C
  &:hover
    background-color: #dc8d8d

.accept
  background-color: #8aca6b
  &:hover
    background-color: #adda97
