@import '~bootstrap/scss/bootstrap';

.btn-xs {
  font-size: 0.6875rem;
  font-weight: 400;
  padding: 0.4375rem 0.9375rem;
}

.btn-soft-primary {
  color: #377dff;
  background: rgba(55, 125, 255, 0.1);
  border-color: transparent;
}

.btn-pill {
  border-radius: 6.1875rem;
}

.btn-wide {
  min-width: 9.6875rem;
  padding: 0.75rem 1rem;
}
.transition-3d-hover {
  transition: all 0.2s ease-in-out;
}
.transition-3d-hover:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 11px rgba(255, 255, 255, 0.35);
}

// FOR SVG
.fill-gray-300 {
  fill: #e7eaf3 !important;
}
.fill-white {
  fill: #fff !important;
}
.fill-primary {
  fill: #377dff !important;
}
.fill-dark {
  fill: #1e2022 !important;
}
.fill-none {
  fill: none !important;
}
