.offerContainer
  display: flex
  flex-direction: column
  // justify-content: space-between
  user-select: none
  // width: 100%
  margin: 15px auto
  padding: 15px 10px
  box-sizing: border-box
  background-color: #f9fafb
  align-self: stretch
  padding: 30px 40px 10px 40px
  border-radius: 10px

.offerInfo
  display: flex
  justify-content: space-between
  @media(max-width: 450px)
    flex-direction: column

.userInfo
  margin-right: 15px


