@import  '../../common/templates.sass'
.mainContainer
  display: flex
  justify-content: center
  align-items: flex-start
  background-color: $background-color-blue
  padding-top: 40px

.passwordContainer
  display: flex
  flex-direction: column
  min-width: 300px
  width: 1200px

.passwordFormContainer
  display: flex
  align-items: center
  justify-content: center
  margin-top: 20px

.header
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: 26px
  padding-left: 45px
  padding-right: 100px
  @media (max-width: 530px)
    padding-right: 20px
    padding-left: 20px

.linkContainer
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid white
  border-radius: 4px
  font-size: 18px
  font-weight: bold
  height: 40px
  text-decoration: none

  span
    color: white
    padding: 0 10px
